
<div class="col-md-8 col-md-offset-2">
<h1>Bog creatures</h1>

<p>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

  <% @creatures.each do |creature| %>
    <tr>
      <td><%= creature.name %></td>
      <td><%= creature.description %></td>
      <td> <%= link_to 'Show Creature', creature, :class=>'btn btn-primary'%></td>
      <td><%= link_to 'Destroy', creature, :class=>'btn btn-primary',
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      <td><%= link_to 'Edit', edit_creature_path(creature), :class=>'btn btn-primary' %></td>
    </tr>
    </tr>
  <% end %>
</table>

</p>

<%= link_to 'Add New Creature', new_creature_path %>

</div>
</div>
</div>