<div class = "container">
<div class="row">
<div class="col-md-4 col-md-offset-4">
<h1>Listing creatures</h1>

<%= link_to 'New Creature', new_creature_path %>
<p>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

  <% @creatures.each do |creature| %>
    <tr>
      <td><%= creature.name %></td>
      <td><%= creature.description %></td>
      <td> <%= link_to 'Show Creature.....', creature %></td>
      <td><%= link_to 'Destroy......', creature,
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      <td><%= link_to 'Edit', edit_creature_path(creature) %></td>
    </tr>
    </tr>
  <% end %>
</table>

</p>

</div>
</div>
</div>